.container{
    display: flex;
    justify-content: space-between;
    padding: 250px;
    background-color: #0000FF;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
 }
 .rightBlock{
 }
 .leftBlock{
 }







.top{
    background-color: #404453;
    width: 400px;
}
.whitebanner{
    background-color: #ffffff;
    width: 70%
}
.yellowcolor{
    color: rgb(255, 187, 0);
}
.underline{
    text-decoration:underline ;
    color: #0044ff;
}
.whitecolor{
    color: #fcfcfc
}

.top{
    border-top: 200px #404453 solid;
}
.bannerborderbas{
    border-bottom: 200px #404453 solid;
}
.bannerborderdroite{
    border-right: 40px  #404453 solid;
}
.bannerbordergauche{
    border-left: 15px #404453 solid;
}
.bckgborderbas{
    border-bottom: 98px #ffffff solid;
}
.bckgborderhaut{
    border-top: 50px #ffffff solid;
}
.bckgbordergauche{
    border-left: 40px #ffffff solid;
}
.bckgborderdroite{
    border-right: 40px #ffffff solid;
}
.bannerecarttxttitle{
    border-top: 15px #404453 solid
}
.bckgecarttxttitle{
    border-top: 30px #ffffff solid
}
.bckgecarttitletxt{
    border-top: 15px #ffffff solid
}
.bckgtiltle{
    text-align: center;
}
.bckgtxt{
    font-size: large;
}
.police{
    font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}