.container {
    display: flex;
    background-color: white;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    font-family: 'Montserrat', sans-serif;
    padding: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.leftBlock {
    float: left;
    background-color: #90a4ff;
    margin-left: 25%;
    padding-right: 25%;
    padding: 2%;
}

.picture {
    padding-top: 12%;
    padding-left: 25%;
    padding-bottom: 12%;
}

.name {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px grey;
}

.name .subname {
    font-size: 15px;
    text-shadow: 2px 2px grey;
}

.supertitle {
    font-size: 23px;
    color: #c0fdff;
    padding-top: 10%;
    text-shadow: 1px 1px #72f0f5;
}

.leftBlock .uppertitle {
    font-size: 23px;
    color: #c0fdff;
    text-shadow: 1px 1px #72f0f5;
}

.aboutme {
    font-size: 13px;
    color: #e6e6e6;
}

.location {
    font-size: 13px;
    color: #e6e6e6;
}

.location a {
    color: white;
}

.hobbies {
    font-size: 13px;
    color: #e6e6e6;
}

.leftBar {
    box-shadow: 2px 2px 0px 0px #72f0f5;
}

.rightBlock {
    float: right;
    background-color: #c0fdff;
    margin-right: -25%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
}

.rightBlock .uppertitle {
    font-size: 23px;
    color: #90a4ff;
    text-shadow: 1px 1px #5272fd;
}

.rightBlock .title {
    font-size: 20px;
}

.rightBlock .subtitle {
    font-size: 15px;
    color: #585656;
}

.rightBlock .text {
    font-size: 13px;
    color: #585656;
}

.rightBlock .rightBar {
    box-shadow: 2px 2px 0px 0px #5272fd;
}