body {
    transition: width 2s, height 2s, background-color 2s, transform 2s;
    background-color: #adbbec;
}

.container {
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    float: center;
    box-shadow : 6px 0px 5px #888888;
}

.topBlock {
    background-color: #90a4ff;
    box-shadow : 6px 0px 5px #888888;
}

.name {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.statut {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.leftBlock {
    background-color: #ffffff;
}

.rightBlock {
    background-color: #efefef;
}

.supertitle {
    font-family: 'Montserrat', sans-serif;
}

.uppertitle {
    font-family: 'Montserrat', sans-serif;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
}

.text {
    font-family: 'Montserrat', sans-serif;
}